<div class="container">
    <div class="row">
        <div class="col-4 text-white">
            <h4>Desde 180000 (COP $)</h4>
            <hr>
            <h4>Reserva Online</h4>
            <h6>Mejor precio garantizado</h6>
            <hr>
            <form class="text-white fw-wold">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Entrada:</label>
                            <input type="date" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Salida:</label>
                            <input type="date" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label"># Adultos:</label>
                            <input type="number" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label"># Niños:</label>
                            <input type="number" class="form-control"/>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn boton w-100">ver precios</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-white mt-3 p-3 caja">
            <p>
            ¡Reserva en nuestra Web!
            Hasta 10% menos que en Booking.com
            ¡Cancelación gratuita! 
            </p>
        </div>
    </div>
</div>
