
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-4 align-self-center">
                <img src='https://firebasestorage.googleapis.com/v0/b/hotelesjj-59532.appspot.com/o/oku.webp?alt=media&token=55bfcd97-9c98-41e5-9855-18b066808782' class="img-fluid" alt="foto"/>
            </div>
            <div class="col-8">
                <h2>Nickelodeon hoteles y resorts</h2>
                <p>
                    El Intercontinental está situado en la zona de Cancún y ofrece vistas a la ciudad de Nuevo León. Ofrece alojamientos de lujo, conexión WiFi gratuita, un spa y una piscina climatizada semiolímpica.
                    Las habitaciones del Hotel Intercontinental son amplias y cuentan con TV LCD con canales por cable y conexión gratuita a internet de alta velocidad. Algunas incluyen una cocina totalmente equipada y una zona de estar. Además, el servicio de habitaciones está disponible todos los días, las 24 horas.
                    El establecimiento sirve un desayuno buffet abundante en La Brasserie. Asimismo, los huéspedes pueden degustar platos a la parrilla y pizzas hechas al horno de piedra en el restaurante Fogón de Piedra, o bien pueden tomar platos creativos y vinos exquisitos en la enoteca Cava Del Inter, que elabora cocina exclusiva.
                    Entre las instalaciones de bienestar se incluyen una bañera de hidromasaje, un solárium y una sauna seca y de vapor. También hay un gimnasio y varios tratamientos de masaje disponibles. Además, el mostrador de información turística puede organizar excursiones y actividades por la zona.
                </p>
               
                <section>
                    <div class="container-fluid g-0">
                        <div class="row row-cols-1 row-cols-md-3">
                            <div class="col">
                                <div class="card h-100 shadow">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/hotelesjj-59532.appspot.com/o/ser1.jpg?alt=media&token=4e2d2b1f-0895-40d7-ae3c-1dfc1fe6edbe" alt="" class="img-fluid h-100 w-100">
                                </div>
                            </div>

                            <div class="col">
                                <div class="card h-100 shadow">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/hotelesjj-59532.appspot.com/o/ser2.jpg?alt=media&token=1f13e16a-3e2d-49bb-b7be-86aa71ae359a" alt="" class="img-fluid h-100 w-100">
                                </div>
                            </div>

                            <div class="col">
                                <div class="card h-100 shadow">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/hotelesjj-59532.appspot.com/o/ser3.jpg?alt=media&token=0fece93a-81f7-469a-aca1-e72cd0e61309" alt="" class="img-fluid h-100 w-100">
                                </div>
                            </div>

                        </div>
                    </div>
                </section>



            </div>
        </div>
    </div>

